img {
    max-height: 100%;
    max-width: 100%;
}
p {
    color: rgb(178, 142, 158);
    font-family: arial;
}
label {
    color: rgb(178, 142, 158);
    font-family: arial;
}
ul {
    list-style: none;
}
li {
    text-align: center;
}
iframe {
    width: 50%;
    height: 300px;
    border: 0;
}
html, head, body {
    padding: 0 !important; 
    margin: 0 !important;
    height: 100%;
    width: 100%;
}
.container {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    min-width: 100%;
}
.error {
    color: red;
}
.wrapper {
    background: linear-gradient(rgb(102, 36, 64), rgb(25, 6, 14));
    min-height: 100%;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.logo {
    width: 80%;
    position: relative;
    left: 80%;
}
.address {
    position: relative;
    text-align: right;
    right: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.links {
    position: relative;
    top: 35px;
    font-size: 20px;
    margin-right: 35px;
    left: 15%;
}
.uppernav {
    font-size: 15px;
    position: relative;
    right: 25%;
}
.navbar {
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white white black white;
}
.children {
    position: relative;
    left: 25%;
    height: 100%;
    width: 50%;
}
/* children class is preventing img in root.js from spanning */
.middle {
    border-style: dashed;
    border-color: rgb(178, 142, 158, 0.4) transparent rgb(178, 142, 158, 0.4) transparent;
    border-width: 2px;
    margin: 15px 0px 15px 0px;
    width: 60%;
}
.middle p {
    margin: 10px 0px 10px 0px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 22px;
    color: white;
}
.title {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.body {
    display: inline-block;
    width: 75%;
    padding-bottom: 5%;
}
.bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    width: 100%;
    padding: 0 !important;
}
.backgroundimg {
    height: 100% !important;
    width: 100% !important;
}
.btn {
    color: white;
    background-color: gray;
}
.sidebar {
    width: 25%;
    border-style: dotted;
    border-color: rgb(178, 142, 158);
    position: absolute;
    right: -150px;
    top: 50px;
    padding: 5px 0px 5px 25px;
}
.sidebar label {
    font-weight: 700;
    color: white;
}
.sidebar p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.sidebar_link {
    color: rgb(83, 165, 186);
}
.profile_pic {
    height: 40%;
    width: 40%;
}
.lfood {
    display: inline-block;
    height: 350px;
    width: 48%;
    margin: 0px 15px 5px 0px;
}
.rfood {
    display: inline-block;
    height: 350px;
    width: 48%;
}
.form {
    width: 50%;
}
.footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    max-height: 4%;
    border-style: solid;
    border-width: 3px;
    border-color: white transparent transparent transparent;
    background-color: rgb(25, 6, 14);
}
.footer p {
    text-align: center;
    padding-top: 10px;
}