img {
    max-height: 100%;
    max-width: 100%;
}
p {
    color: rgb(178, 142, 158);
    font-family: arial;
}
label {
    color: rgb(178, 142, 158);
    font-family: arial;
}
ul {
    list-style: none;
}
li {
    text-align: center;
}
iframe {
    width: 450px;
    height: 300px;
    border: 0;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    transition: 0.5s;
}
iframe:hover {
    width: 460px;
    height: 310px;
}
html, head, body {
    padding: 0 !important; 
    margin: 0 !important;
    height: 100%;
    width: 100%;
}
.container {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    min-width: 100%;
}
.error {
    color: red;
}
.wrapper {
    background: linear-gradient(rgb(102, 36, 64), rgb(25, 6, 14));
    min-height: 100%;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.logo {
    width: 80%;
    position: relative;
    left: 80%;
    transition: 0.5s;
}
.logo:hover {
    width: 82%;
}
.address {
    position: relative;
    text-align: right;
    right: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.links {
    position: relative;
    top: 35px;
    font-size: 20px;
    margin-right: 35px;
    left: 15%;
    transition: 0.5s
}
.links:hover {
    font-size: 21px;
}
.uppernav {
    font-size: 15px;
    position: relative;
    right: 25%;
}
.navbar {
    width: 100%;
    background: linear-gradient(white, rgb(242, 242, 242));
    border-style: solid;
    border-width: 3px;
    border-color: white white black white;
}

.middle {
    border-style: dashed;
    border-color: rgb(178, 142, 158, 0.4) transparent rgb(178, 142, 158, 0.4) transparent;
    border-width: 2px;
    margin: 15px 0px 15px 0px;
    width: 60%;
}
.middle p {
    margin: 10px 0px 10px 0px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 22px;
    color: white;
}
.title {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.body {
    position: relative;
    left: 20%;
    height: 100%;
    width: 45%;
    padding-bottom: 5%;
}
.rootBody {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.bx-wrapper {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    height: 100%;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.slide img {
    margin: 0% 0% 0% -3%;
    height: auto;
    width: auto;
    max-height: 770px;
    max-width: 1000px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: relative;
    left: 30%;
}
.btn {
    color: white;
    background-color: gray;
}
.sidebar {
    width: 30%;
    border-style: dotted;
    border-color: rgb(178, 142, 158);
    position: absolute;
    right: -330px;
    top: 50px;
    padding: 5px 0px 5px 20px;
}
.sidebar label {
    font-weight: 700;
    color: white;
}
.sidebar p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.sidebar_link {
    color: rgb(83, 165, 186);
}
.profile_pic {
    height: 45%;
    width: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    transition: 0.5s;
}
.profile_pic:hover {
    height: 47%;
    width: 52%;
}
.lfood {
    display: inline-block;
    height: 340px;
    width: 390px;
    margin: 0px 15px 5px 0px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    transition: 0.5s;
}
.lfood:hover {
    height: 350px;
    width: 400px;
}
.rfood {
    display: inline-block;
    height: 340px;
    width: 390px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    transition: 0.5s;
}
.rfood:hover {
    height: 350px;
    width: 400px;
}
.form {
    width: 50%;
}
.footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    max-height: 4%;
    border-style: solid;
    border-width: 3px;
    border-color: white transparent transparent transparent;
    background-color: rgb(25, 6, 14);
}
.footer p {
    text-align: center;
    padding-top: 10px;
}