img {
    max-height: 100%;
    max-width: 100%;
}
p {
    color: rgb(178, 142, 158);
    font-family: arial;
}
label {
    color: rgb(178, 142, 158);
    font-family: arial;
}
ul {
    list-style: none;
}
li {
    text-align: center;
}
iframe {
    width: 50%;
    height: 300px;
    border: 0;
}
html, head, body {
    padding: 0; 
    margin: 0;
    height: 100%;
    width: 100%;
}
.container {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    min-width: 100%;
}
.error {
    color: red;
}
.wrapper {
    background-color: rgb(48, 13, 28);
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: white white black white;
}
.torso {
    position: relative;
    left: 25%;
    height: 100%;
    width: 50%;
}
.middle {
    border-style: dashed;
    border-color: rgb(178, 142, 158, 0.4) transparent rgb(178, 142, 158, 0.4) transparent;
    border-width: 2px;
    margin: 15px 0px 15px 0px;
    width: 60%;
}
.middle p {
    margin: 10px 0px 10px 0px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 22px;
}
.title {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.body {
    display: inline-block;
    width: 75%;
}
/* .sidebar {
    display: inline-block;
    width: 30%;
    border-style: solid;
} */
.profile_pic {
    height: 40%;
    width: 40%;
}
.footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    border-style: solid;
    border-width: 3px;
    border-color: white transparent transparent transparent;
}
.footer p {
    text-align: center;
    padding-top: 10px;
}